.wrapper {
    margin: 4px 0;
    width: 100%;
    position: relative;
}

.renderer {
    padding: 4px;
    margin: 0;
    line-height: 1.4375em;
    position: absolute;
    display: block;
    word-wrap: break-word;
    white-space: pre-wrap;
    overflow: scroll;
    letter-spacing: 0.00938em;
}

.highlighted {
    background-color: #00b4d8;
}

.input {
    padding: 0px;
    margin: 0;
    width: 100%;
    left: 0;
    top: 0;
    border-radius: 4px;
    box-shadow: 0 0 10px #1e2f97;
    & > div {
        padding: 4px;
        margin: 0;
    }
}
