.wrapper {
    margin: 4px 0;
    width: 100%;
    position: relative;
}

.renderer {
    padding: 0;
    margin: 0;
    line-height: 1.4375em;
    position: absolute;
    display: block;
    background-color: rgb(227, 227, 227);
    word-wrap: break-word;
    white-space: pre-wrap;
    overflow: scroll;
    letter-spacing: 0.00938em;
}

.highlighted {
    background-color: rgb(170, 170, 255);
}

.input {
    padding: 0;
    margin: 0;
    width: 100%;
    left: 0;
    top: 0;
    & > div {
        padding: 0;
        margin: 0;
    }
}
